MONGO_URI=
PORT=
CLIENT_URL=#URL where your frontend is hosted
JWT_SECRET=

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CONTACT_EMAIL=
WEB3FORMS_ACCESS_KEY=

# AI credentials 
GEMINI_API_KEY= # FlowSync currently uses Google Gemini

# Brevo email credentials
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

PERMISSION_REQUEST_ADMIN_EMAIL=your_admin_email